:root {
  --col1: #f0efeb;
  --col2: #4361ee;
  --col3: #f72585;
  --textCol: #343a40;
  --bgCol: #bee3db;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  background: var(--bgCol);
}

h1,
h2,
p,
a,
span,
li {
  color: var(--textCol);
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

i {
  pointer-events: none;
}

.button {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 2px;
  padding: 0.5rem 0.8rem;
  background-color: var(--col2);
  color: #fff;
  cursor: pointer;
  transition: ease-in-out 150ms;
}

.button:hover {
  filter: brightness(1.2);
  transform: scale(1.1);
}

/* ==================================================
>>>>> (01) - NAV BAR
================================================== */

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 3rem;
  padding: 0 8rem;
  box-shadow: 0 2px 5px rgba(46, 46, 46, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 1rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li {
  margin-right: 2rem;
  text-transform: uppercase;
}

.menu ul li a,
#shoppingCartDisplay a {
  font-size: 0.8rem;
  font-weight: 600;
}

#checkoutBtn {
  margin-left: 1rem;
}

/* ==================================================
>>>>> (02) - MAIN SECTION
================================================== */

.showcase {
  padding: 0 8rem;
  margin: 10rem 0 7rem 0;
}

@media (max-width: 768px) {
  .showcase {
    padding: 0 2rem;
  }
}
/* ==================================================
>>>>> (02.A) - SHOWCASE LIST
================================================== */

.showcaseList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-items: center;
}

/* ==================================================
>>>>> (02.B) - SHOWCASE ITEMS
================================================== */

.showcaseItem {
  background: var(--col1);
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}

.imgWraper {
  width: 100%;
  display: block;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}

.itemImage {
  transition: ease-in-out 300ms;
}

.showcaseItem:hover .itemImage {
  transform: scale(1.05);
  transition: ease-in-out 300ms;
}

.itemDescription {
  margin: 0 2rem 2rem 2rem;
}

.itemName {
  color: var(--col3);
  text-transform: capitalize;
  font-size: 1rem;
  margin-bottom: 0;
}

.itemModel {
  font-size: 0.8rem;
  font-weight: 600;
}

.itemDescription > ul {
  padding-left: 10px;
}

.itemDescription > p {
  margin: 0 0 10px 0;
}

.itemDescription > ul {
  margin: 0 0 20px 0;
}

.itemDescription > p,
.itemDescription > ul li {
  color: var(--textCol);
  font-size: 0.8rem;
}

.itemPrice {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--col3);
}

.addToCartBtn {
  font-size: 1.1rem;
  padding: 0.8rem;
  border-radius: 50%;
  position: absolute;
  right: 8%;
  bottom: 8%;
  background: var(--col2);
}

/* ==================================================
>>>>> (03) - MODAL
================================================== */

.modalDisplay {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background: #fff;
  padding: 3rem;
  border-radius: 25px;
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.8);
}

.modalDisplay > h2 {
  font-weight: 600;
  margin: 0 0 40px 0;
}

#itemsInfoModal {
  display: flex;
  justify-content: space-between;
}

#itemImageModal {
  width: 90%;
  padding-right: 20px;
}

#modalDescription {
  border-left: 2px solid var(--col1);
  padding-left: 20px;
}

#itemNameModal {
  color: var(--textCol);
  font-weight: 600;
  margin: 0;
}

.cartPrice,
#cartPrice {
  text-align: right;
  font-weight: 400;
  font-size: 1rem;
  color: var(--textCol);
}

.cartTotal,
#cartTotal {
  text-align: right;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--col3);
}

.modalNav {
  display: block;
  position: relative;
  height: 2rem;
  margin: 40px auto 50px auto;
  width: 70%;
}

.modalInput {
  font-weight: 700;
  text-align: center;
  width: 100%;
  height: 2rem;
  outline: none;
  border-style: none none solid none;
  border-color: var(--col2);
  border-width: 1px;
  background-color: #fff;
}

.modalBtn {
  padding: 0.5rem 0.7rem;
  border: none;
  outline: none;
  color: var(--textCol);
  background: none;
  position: absolute;
  top: 0;
  cursor: pointer;
}

.modalBtn i {
  font-weight: 700;
}

#modalBtnRemove {
  left: -5%;
}

#modalBtnAdd {
  right: -5%;
}

.modalBtns {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

#modalCofirmBtn.button {
  display: block;
  margin-top: 40px;
  width: 120px;
  padding: 0.8rem 0;
}

#modalCancelBtn.button {
  display: block;
  margin-top: 40px;
  background: transparent;
  border: 1px solid var(--col3);
  color: var(--col3);
  width: 120px;
}

.preventScroll {
  overflow: hidden;
}

.preventClick {
  pointer-events: none;
}
